@font-face {
	font-family: "HelveticaNeueLTStd.otf";
	src: url(../fonts/HelveticaNeueLTStd.otf) format('opentype');
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	 font-family: "HelveticaNeueLTStd.otf";
}

h1{
	text-align: center;
	margin: 10px;
	font-size: 4em;
	height: 100px;
	margin-top: 50px;
	font-family: "HelveticaNeueLTStd.otf";
	color: gray;
}


h2{
	text-align: center;
	font-size: 2em;
	height: 50px;
	font-family: "HelveticaNeueLTStd.otf";
	color: black;
}

h3{
	text-align: center;
	font-size: 2.5em;
}

h4{
	color:black;
	margin-left: 35px;
    margin-top: 5px;

}

h5{
	color:black;
	font-size: 20px;
}

 p{
 	text-align: justify;
 	font-family: "HelveticaNeueLTStd.otf";
 	font-size: 1.2em;
 }

#cont{
	width: 1200px;
	margin: 0 auto;
}


#content{
	background-image:url(../img/fondo2020.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	height: 600px;

}

/*------Contenido Index----------*/

#content #der{
	width: 70%;
	float: left;
	height: 600px;

}

/*---------- Contendido de Izquierda ---------------*/

#content #izq{
	width: 30%;
	float: left;
	height: 600px;
	overflow: hidden;
}

#content #izq #btn3{
    height: 100px;
    width: 60%;
    margin-left: 120px;
    margin-top: 160px;

}

#content #izq #btn3 img{
	width: 100%;
}

#content #izq #btn3 img:hover{
	width: 90%;
    margin-left: 10px;
    margin-top: 10px;

}


/*--------- Acordion --------------*/

#contentReserva{
	width: 90%;
	margin: 20px auto;
}

.faq li { 
list-style: none;
	padding: 20px; }

.faq li.q {
  background: #4FC2E;
  font-weight: bold;
  font-size: 120%;

	color:#FFFFFF;
  border-bottom: 1px #ddd solid;
  cursor: pointer;
}

.faq li.q .img{ 
	width: 30px;
	height: 30px;
	background-color: #f0ee00;
	 -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
	background-image: url("../img/vi_1.png");
	float: left;
	background-size: 30px;

	}

.faq li.a {
  background: #ccd4e4;
  display: none;
  color:black;

}

.activado {
	background-color: #e74d4d !important;
	background-image: url("../img/vi_2.png") !important;
}


/*-------------Scroll up ---------------*/
#scrollUp {
  bottom: 20px;
  right: 20px;
  background: url("../img/flecha.jpg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 100%;

}