@font-face {
	font-family: "HelveticaNeueLTStd.otf";
	src: url(../fonts/HelveticaNeueLTStd.otf) format('opentype');
}
@font-face {
	font-family: "ChampionsRegular.otf";
	src: url(../fonts/ChampionsRegular.otf) format('opentype');
}


*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

h1{
	text-align: center;
	margin: 10px;
	font-size: 4em;
	height: 100px;
	margin-top: 50px;
	font-family: "HelveticaNeueLTStd.otf";
	color: gray;
}


h2{
	text-align: center;
	font-size: 2em;
	height: 50px;
	font-family: "HelveticaNeueLTStd.otf";
	color: black;
}
 p{
 	text-align: justify;
 	font-family: "HelveticaNeueLTStd.otf";
 	font-size: 1.2em;
 }

#cont{
	width: 1200px;
	margin: 0 auto;
}


#content{
	background-image:url(../img/fondo2020.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	height: 600px;

}

/*------Contenido Index----------*/

#content #der{
	width: 50%;
	float: left;
	height: 600px;

}

/*---------- Contendido de Izquierda ---------------*/

#content #izq{
	width: 50%;
	float: left;
	height: 600px;
}

#content #izq #btn1{
	height: 90px;
	margin-top: 140px;
	margin-left: 210px;

}

#content #izq #btn1 img{
	width: 70%;
}

#content #izq #btn1 img:hover{
	width: 80%;

}

#content #izq #btn2{
	height: 180px;
	margin-top: 70px;
	margin-left: 210px;

}

#content #izq #btn2 img{
	width: 70%;
}

#content #izq #btn2 img:hover{
	width: 80%;

}

#content #izq #womanRun{
	position: absolute;
	margin-top: 60px;
	width: 40%;
	left:35%;
}

.freebirdDisclaimerColor, .freebirdDisclaimerColor a{
	display: none !important; 

}

.freebirdFormviewerViewFooterPageBreak{
	display: none;
}



/*----------------DESCRIPCÌÓN ----------------*/

#descripcion{
	border: 2px solid rgba(128, 128, 128, 0.53);
	padding: 10px;
}

/*--------------------------AGENDA -------------------*/
#agenda{
	padding-top: 30px;
}

#contentAgenda{
	width: 90%;
	margin: 0 auto;
}

#contentAgenda img{
	text-align: center;
	width: 100%;
}

/*-------------FORM ---------------*/

#form{
	padding-top: 30px;
	width: 90%;
	margin: 0 auto;
}

/*-------------Scroll up ---------------*/
#scrollUp {
  bottom: 20px;
  right: 20px;
  background: url("../img/flecha.jpg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 100%;

}